trigger:
  batch: true
  branches:
    include: 
      - master
      - rel/*

pr: none

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln' 
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  majorMinorPatchVersion: '15.1.5'
  buildVersion: $[counter(variables['majorMinorPatchVersion'], 0)]
  name: $(majorMinorPatchVersion).$(buildVersion)
  
name: $(majorMinorPatchVersion).$(buildVersion)

steps:

- task: NuGetToolInstaller@0
  displayName: Use Latest NuGet

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloudFOrGSKit2'
    organization: 'sdl'
    scannerMode: 'MSBuild'
    projectKey: 'groupsharekit'
    projectName: 'GroupShareKit'
- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
- task: SonarCloudAnalyze@1
- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'
    
- powershell: |
    mkdir $(Build.ArtifactStagingDirectory)\Package     
    ls *.nuspec | %{ nuget pack $_.FullName -version "$(name)" -NoPackageAnalysis -OutputDirectory $(Build.ArtifactStagingDirectory)\Packages -Properties "RepositoryType=git;RepositoryUrl=https://github.com/sdl/groupsharekit.net"}
  displayName: Create package
  condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false))

- task: NuGetCommand@2
  displayName: 'NuGet push 1'
  inputs:
     command: 'push'   
     packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
     nuGetFeedType: 'internal'
     publishVstsFeed: 'af66e256-9c46-4fba-ad75-09bf110ec1cc' 
       

- task: CopyFiles@1
  displayName: 'Copy files to artifact staging'
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: '**/$(BuildConfiguration)/**/*.*'
    targetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)' 
    artifactName: 'drop'
    publisLocation: 'Azure Pipelines/TFS'
