trigger: none

pr:
  branches:
   include:
     - master
     - rel/*
  drafts: false

pool:
  vmImage: 'windows-2019'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: NuGetToolInstaller@0
  displayName: Use NuGet 4.7.0
  inputs:
    versionSpec: 4.7.0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: 'SonarCloudFOrGSKit2'
    organization: 'sdl'
    scannerMode: 'MSBuild'
    projectKey: 'groupsharekit'
    projectName: 'GroupShareKit'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# - task: VSTest@2 
  # inputs: 
    # platform: '$(buildPlatform)' 
    # configuration: '$(buildConfiguration)'
  # timeoutInMinutes: 120
# - task: SonarCloudAnalyze@1
# - task: SonarCloudPublish@1
  # inputs:
  #   pollingTimeoutSec: '300'

